.navbar {
  background-color: #928887;
  justify-content: flex-start;

  .container {
    max-width: 100vw;
    margin: 0 7%;

    .vertical {
      border-left: 1px solid black;
    }

    .navbar-brand {
      
      img {
        width: 13em;
      }
    }

    .navbar-collapse {
      flex-grow: 0.26;

      .nav-link {
        margin: 0px 1em;
        white-space: nowrap;
        color: black;
        font-size: 18px;
      }

      a {
        margin: 0 2%;
      }
      i.fa {
        font-size: 22px;
        width: 48px;
        height: 48px;
        padding: 12px 0;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50%;
        transition: all 0.3s;
        text-align: center;
      }
      i.fa:hover {
        color: blue;
        background-color: white;
      }
    }
  }
}
