.navbar {
  background-color: #928887;
  justify-content: flex-start;
  
  .container {
    height: 90px;
    width: 100%;

    .navbar-brand img {
      width: 70%;
      margin: auto;
    }

    .navbar-collapse {
      flex-grow: 0.26;
      .me-auto {
        font-size: 18px;
        color: black;
        .nav-link {
          margin: auto 10%;
          white-space: nowrap;
        }
      }
    }
  }
}
