@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

#portfolio {
  margin-bottom: 3%;

  .quote {
    font-family: "Pinyon Script", cursive;
    font-size: 35px;
    margin-bottom: 100px;
  }
}
